:root {
    --bg-color: #1C1C1C;
}

/* Main body, generic components */

html {
    font-family: "Merriweather";
}

body {
    background-color: var(--bg-color);
    color: white;
    margin: 0;
}

.content {
    margin: 30px 4% 0;
}

#app {
    /* full screen clickaway detection*/
    min-height: 100vh;
    padding-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Whitney;
    font-weight: 500;
}

button,
.button {
    background-color: #003478;
    border-radius: 10px;
    border: 0px;
    padding: 12px 14px;
    font-family: "Merriweather";
    color: white;
    font-size: 17px;
    display: inline-flex;
    align-items: center;
    gap: 9px;
    /* height: 45px; */
}

button:hover,
.button:hover {
    background-color: #004197;
    cursor: pointer;
}

.danger-button {
    background-color: #6F1111;
}

.danger-button:hover {
    background-color: #bd1c1c;
}


#modal-actions button {
    margin: 10px;
}


/* Header */

.header {
    background-color: #0A0A0A;
    display: flex;
    align-items: center;
    box-shadow: 0px 7px 8px rgba(0, 0, 0, 0.25);
    padding: 0 4%;
    position: sticky;
    top: 0;
    z-index: 2;
}

.site-title {
    text-align: center;
    flex: 1;
}

.action-buttons {
    display: flex;
    gap: 16px;
}

/* Modal */

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 22px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .2s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 3px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #003478;
}

input:focus+.slider {
    box-shadow: 0 0 1px #003478;
}

input:checked+.slider:before {
    -webkit-transform: translateX(17px);
    -ms-transform: translateX(17px);
    transform: translateX(17px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 10px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Timeline General */

.drop-zone {
    width: 100%;
    height: 30px;
}

.drop-zone-active {
    border: 2px dashed grey;
    height: 150px;
}

#summary-info {
    text-align: right;
    height: 2em;
}

#add-day-button {
    text-align: center;
}

#add-day-button button {
    border-radius: 50%;
    font-size: 2rem;
    width: 75px;
    height: 75px;
    justify-content: center;
    filter: drop-shadow(-6px 4px 5px rgba(0, 0, 0, .25));
}

.timeline-container {
    display: flex;
    align-items: flex-end;
    filter: drop-shadow(-6px 4px 5px rgba(0, 0, 0, .25));
}

.day-side-details-container {
    background-color: #0D0D0D;
    width: 100px;
    height: 120px;
    border-radius: 11px 0 0 11px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.day-side-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6px;

}

.timeline-container .drag-icon {
    visibility: hidden;
}

.timeline-container:hover .drag-icon {
    visibility: visible;
}

.drag-icon {
    cursor: grab;
}

.day-side-column .arrow-button {
    width: 27px;
    height: 27px;
    border-radius: 50%;
    justify-content: center;
    background-color: #2c2c2c;
}

.day-side-column .arrow-button:hover {
    background-color: #434343;
}


.day-side-column .day-number-x-button {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    justify-content: center;
}

.day-side-column .day-number-x-button:hover .button-day-number {
    display: none;
}

.day-side-column .day-number-x-button:hover .button-x {
    display: flex;
    justify-content: center;
}

.day-side-column .button-x {
    display: none;
}

/* Context Menu */

.context-menu {
    width: 220px;
    min-height: 100px;
    background-color: var(--bg-color);
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, .2);
    border-radius: 11px;
    padding: 10px;
}

.context-menu-section {
    margin: 10px
}

.time-picker-section {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.buttons-section {
    display: flex;
    justify-content: space-between;
}

.danger-button img {
    height: 1em;
}

.save-button img {
    height: 1em;
}

.modal-x-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    padding: 0;
}

.modal-x-button:hover {
    background: none;
}

.buttons-section button {
    height: 30px;
    font-size: 15px;
    border-radius: 7px;
}

.text-input,
.react-time-picker {
    color: white;
    background-color: #333333;
    border-radius: 3px;
    border: none;
    padding: 4px 9px 4px 9px;
    font: inherit;
}

.text-input {
    padding: 4px 9px 4px 9px;
    font-size: 16px;
}

.text-input,
.react-time-picker input {
    border: none;
    color: white
}

.context-menu .text-input {
    width: 50px;
}

.react-time-picker .react-time-picker__wrapper {
    border: none
}

.react-time-picker .react-time-picker__inputGroup {
    border: none;
    min-width: 0;
}

/* RCT custom styles */
.event-item-0:hover {
    background: #bd1c1c !important;
}

.rct-item-handler {
    cursor: ew-resize !important;
}

.event-item-1:hover {
    background: #2d8f15 !important;
}

.event-item-2:hover {
    background: #ededed !important;
}

.react-calendar-timeline * {
    box-sizing: border-box;
}

.react-calendar-timeline .rct-outer {
    display: block;
    overflow: hidden;
    filter: drop-shadow(-6px 4px 5px rgba(0, 0, 0, .25));
    white-space: nowrap;
    border-radius: 0 11px 11px 0;
}

.react-calendar-timeline .rct-scroll {
    display: inline-block;
    white-space: normal;
    vertical-align: top;
    overflow: hidden;
    -ms-touch-action: none;
    touch-action: none;
    background-color: #121212;
}

.react-calendar-timeline .rct-item:hover {
    z-index: 88;
}

.react-calendar-timeline .rct-item .rct-item-content {
    position: sticky;
    position: -webkit-sticky;
    left: 0px;
    overflow: hidden;
    display: inline-block;
    border-radius: 2px;
    padding: 0 6px;
    height: 100%;
}

.react-calendar-timeline .rct-sidebar {
    overflow: hidden;
    white-space: normal;
    background-color: #0D0D0D;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    position: relative;
    box-sizing: border-box;
    border-right: 0px solid #bbb;
}

.react-calendar-timeline .rct-sidebar.rct-sidebar-right {
    border-right: 0;
    border-left: 1px solid #bbb;
}

.react-calendar-timeline .rct-sidebar .rct-sidebar-row {
    padding: 0 4px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    box-sizing: border-box;
    margin: 0;
}

.react-calendar-timeline .rct-sidebar .rct-sidebar-row-odd {
    border-bottom: 1px solid #bbb;
    border-top: 1px solid #bbb;
}

.react-calendar-timeline .rct-vertical-lines .rct-vl {
    position: absolute;
    border-left: 1px solid #626262;
    z-index: 30;
}

.react-calendar-timeline .rct-horizontal-lines {
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}

.react-calendar-timeline .rct-horizontal-lines .rct-hl-odd {
    border-bottom: 1px solid #272727;
    border-top: 1px solid #272727;
    box-sizing: border-box;
    z-index: 40;
}



.react-calendar-timeline .rct-horizontal-lines .rct-hl-even {
    background: transparent;
}

.react-calendar-timeline .rct-cursor-line {
    position: absolute;
    width: 2px;
    background: #2196f3;
    z-index: 51;
}

.react-calendar-timeline .rct-dateHeader {
    display: flex;
    align-items: top;
    justify-content: left;
    height: 100%;
    border-bottom: 0px solid #bbb;
    font-size: 14px;
    border-left: 1px solid #626262;
    padding: 0px 3px;
    border-top: 0px;
}

.react-calendar-timeline .rct-dateHeader-primary {
    background-color: initial;
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
    color: #fff;
}

.react-calendar-timeline .rct-header-root {
    border-bottom: 0px solid #bbb;
}

.react-calendar-timeline .rct-calendar-header {
    border: 0px solid #bbb;
}

.react-calendar-timeline {
    width: 100%;
    overflow: hidden;
}