[submodule "programming-gui/src/react-calendar-timeline"]
	path = programming-gui/src/react-calendar-timeline
	url = https://github.com/RebeccaFlach/react-calendar-timeline
[submodule "firmware"]
	path = firmware
	url = git@github.com:ctallum/FlyBox-firmware.git
